<small>
    <a href="http://wap.orf.at/news/index.wml">News</a>&nbsp;
    <a href="http://wap.orf.at/sport/index.wml">Sport</a>&nbsp;
    <a href="http://wap.orf.at/oe/index.wml">Chronik</a>&nbsp;
    <a href="http://wap.orf.at/fuzo/index.wml">Futurezone</a>&nbsp;
</small>