<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <template>
        <do type='prev' label='Zur&#xFC;ck'>
            <prev />
        </do>
        <do type='' label='wap.ORF.at'>
            <go href='/' />
        </do>
    </template>
    <card id="card1" title="NOT FOUND">
        <p align="center">
            404 not found
        </p>
    </card>
</wml>