<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card id="card1" title="ORF ON">
        <p align="center">
            <img src="/img/orfon.<%= imageFormat %>" alt="ORF" /><br />
            <a href="/feed/orf">News</a><br />
            <a href="/feed/sport">Sport</a><br />
            <a href="/verkehr">&#214;3 Verkehr</a><br />
            <a href="/feed/oe3">&#214;3 News</a><br />
            <a href="/ua">ua</a><br />
        </p>
    </card>
</wml>