<%- include('partials/doctype') %>
<html>
<head>
    <title>ORF ON</title>
</head>
<body>
    <p align="center">
        <img src="/img/orfon.<%= imageFormat %>" alt="ORF" /><br />
        <a href="/feed/orf">News</a><br />
        <a href="/feed/sport">Sport</a><br />
        <a href="/verkehr">&#214;3 Verkehr</a><br />
        <a href="/feed/oe3">&#214;3 News</a><br />
    </p>
</body>
</html>