<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<!-- Author: ORF -->
<wml>
    <head>
        <meta http-equiv="Cache-Control" content="max-age=0" />
    </head>
    <template>
        <do type='prev' label='Zur&#xFC;ck'>
            <prev />
        </do>
        <do type='' label='wap.ORF.at'>
            <go href='/' />
        </do>
    </template>
    <card title="&#214;3 Verkehr">
        <p align="center">
            <img src="/img/oe3.<%= imageFormat %>" alt="&#214;3" /><br />
        </p>
        <% for(let t of trafficInfo.TrafficItems) { 
                let location = (t.Street !== "" && t.District!== "") ? `${t.Street}, ${t.District}` : `${t.Street}${t.District}`;
            %>
        <p>
            <u><%- location %></u><br />
            <small><%- t.Text %></small>
        </p>
        <p align="center">---</p>
        <% } %>
        <br />
    </card>
</wml>